.btn_effect {
    border: none;
    background-color: #f3f3f3;
    padding: 40px 30px 40px 30px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    transition: .3s cubic-bezier(0.17, 0.67, 0, 1.01);
    width: 100%;
    height: 80px!important;
    position: relative;
    /* margin-right: 8px; */
    margin-bottom: 10px;
}

.service::before {
    border-left: 1px solid #e9204f;
}

.btn_effect .left_icon {
    transition: .3s ease-in;
    position: absolute;
    left: -50px !important;
    opacity: 0;
    display: none;
}

.btn_effect+i {
    color: white;
}

.btn_effect:hover .left_icon {
    /* background-color: red; */
    bottom: 30PX;
    right: 190px;
    transform: scale(3.5, 3.5) !important;
    color: white;
    transform: translateX(40px);
    opacity: 0.6;
    display: block;
}

.btn_effect:hover .text_1 {
    /* background-color: red; */
    color: white;
    transform: translateX(40px);
}

.btn_effect:hover {
    background-color: #e9204f;
}

.btn_effect .text_1 {
    transform: translateX(0px);
    transition: .3s ease-in-out;
}


/* .arrow_1 {
  padding-left: -130px!important;
  color: white;
} */

.btn_effect .arrow_1 {
    transform: translateX(0px);
    transition: .3s ease-in-out;
}

.btn_effect .arrow_1 {
    transform: translateX(0px);
    transition: .3s ease-in-out;
}

.btn_effect:hover .arrow_1 {
    /* background-color: red; */
    color: white;
    transform: translateX(10px);
}


/* width: 200px; */

.text-effect {
    transition: 100ms ease-in;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
}

.text-effect:hover {
    transform: translateX(30px);
    color: white;
}

.service {
    padding: 140px 0px 140px 0px;
    position: relative;
}

.service_v_arrow {
    border-left: 2px solid #e9204f;
    height: 50px;
}

.service_v_arrow_1 {
    border-left: 2px solid #e9204f;
    height: 50px;
    /* position: absolute; */
    top: 640px;
}

.service_h_arrow {
    top: 100px;
    position: absolute;
    border-top: 2px solid #e9204f;
    width: 50px;
}

.service_h_arrow_1 {
    margin-top: 100px;
    border-top: 2px solid #e9204f;
    width: 50px;
}

.service_small_title {
    margin-top: 25px;
    margin-bottom: 60px;
    color: #e9204f;
}


/* */